.no-close .ui-dialog-titlebar-close {
	display: none;
}
/*my classes and ID's*/
.userText{
	padding:0 0.5em;
	margin-top:0px;
	color:white;
	float:right;
	background-color:blue;
	border-bottom-left-radius:.25em;
	border-top-left-radius:.25em;
	border-top-right-radius:.25em;
}
.userName{
	padding:0 0.5em;
	margin-top:0px;
	float:right;
}
.aiText{
	display: inline;
	padding:0 0.5em;
	margin-top:0px;
	color:white;
	float:left;
	background-color:gray;
	display: inline;
	border-top-left-radius:.25em;
	border-top-right-radius:.25em;
	border-bottom-left-radius:.25em;
}
.aiName{
	display: inline;
	height: 1em;
	padding:0 0.5em;
	margin-top:0px;
	float:left;
}
#output{
	padding:0px;
}
#input-box{
	position:fixed;
	bottom:0px;
	left:0px;
}
